arviz==0.15.1
asttokens==2.4.1
attrs==23.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
Brotli==1.1.0
cached-property==1.5.2
cachetools==5.3.3
category-encoders==2.6.3
certifi==2024.2.2
charset-normalizer==3.3.2
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.1
cons==0.4.6
contourpy==1.1.1
cycler==0.12.1
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
etuples==0.3.9
executing==2.0.1
fastjsonschema==2.19.1
fastprogress==1.0.3
filelock==3.13.1
fonttools==4.49.0
future==1.0.0
graphviz==0.20.1
h5netcdf==1.1.0
h5py==3.10.0
idna==3.6
importlib-metadata==7.0.1
importlib_resources==6.1.2
ipykernel==6.29.3
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
littleutils==0.2.2
llvmlite==0.41.1
logical-unification==0.4.6
MarkupSafe==2.1.5
matplotlib==3.7.3
matplotlib-inline==0.1.6
minepy==1.2.6
miniKanren==1.0.3
mistune==3.0.2
mkl-service==2.4.1
mpmath==1.3.0
multipledispatch==0.6.0
munkres==1.1.4
nbclient==0.9.0
nbconvert==7.16.2
nbformat==5.9.2
nest_asyncio==1.6.0
numba==0.58.1
numpy==1.24.4
outdated==0.0.0
packaging==23.2
pandas==1.5.3
pandas-flavor==0.6.0
pandocfilters==1.5.1
parso==0.8.3
patsy==0.5.6
pickleshare==0.7.5
pillow==10.2.0
pingouin==0.5.4
pip==24.0
pipreqs==0.5.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.0
pooch==1.8.1
prompt-toolkit==3.0.42
psutil==5.9.8
pure-eval==0.2.2
Pygments==2.17.2
pyitlib==0.2.3
pymc==5.6.1
pyparsing==3.1.1
PySocks==1.7.1
pytensor==2.12.3
python-dateutil==2.9.0
pytz==2024.1
pywin32==306
pyzmq==25.1.2
referencing==0.33.0
requests==2.31.0
rpds-py==0.18.0
scikit-learn==0.24.0
scipy==1.10.1
seaborn==0.13.2
setuptools==69.1.1
six==1.16.0
soupsieve==2.5
stack-data==0.6.2
statsmodels==0.14.1
tabulate==0.9.0
threadpoolctl==3.3.0
tinycss2==1.2.1
toolz==0.12.1
tornado==6.4
traitlets==5.14.1
typing_extensions==4.10.0
unicodedata2==15.1.0
urllib3==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
wheel==0.42.0
win-inet-pton==1.1.0
xarray==2023.1.0
xarray-einstats==0.5.1
yarg==0.1.9
zipp==3.17.0
